<template>
  <section class="section-author">
    <div class="container">
      <h2 class="author-heading">Авторы курса</h2>
      <div class="container-author">
        <CourseAuthor v-for="author of authors" 
        v-bind:author="author" 
        v-bind:key="author.id" />
      </div>
    </div>
  </section>
</template>

<script>
import CourseAuthor from "./CourseAuthor";

export default {
  name: "AuthorsSection",
  props: {
    authors: {
      type: Array,
      required: true
    }
  },
  components: {
    CourseAuthor
  }
};
</script>

<style scoped>
@import "../../assets/main/css/normalize.css";
@import "../../assets/main/css/CourseAuthor.css";
</style>