<template>
  <div>
    <CourseDescription
      v-bind:name="course.name"
      v-bind:logo="course.logo"
      v-bind:shortDescription="course.shortDescription"
    />
    <AuthorsSection v-bind:authors="course.authors" />
    <CourseContent v-bind:resourceLink="course.resourceLink " v-bind:about="course.about" v-bind:id="course._id" />
    <router-view></router-view>
  </div>
</template>

<script>
import CourseDescription from "./CourseDescription";
import AuthorsSection from "./AuthorsSection";
import CourseContent from "./CourseContent";
import axios from "axios";

export default {
  name: "Course",
  components: {
    CourseDescription,
    CourseContent,
    AuthorsSection
  },
  data() {
    return {
      course: {}
    };
  },
  methods: {
    /**
     * Method for getting course by id from backend sources
     * @param id
     */
    getCourseById(id) {
      axios
        .get(
          `${process.env.VUE_APP_COURSES_PROVIDER_URL}${process.env.VUE_APP_COURSES_PROVIDER_COURSES_PREFIX}/${id}`
        )
        .then(response => {
          this.course = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.getCourseById(this.$route.params.id);
  }
};
</script>