<template>
    <div>
        <div class="html-content">
          <span v-html="content.content.html"/>
        </div>
        <div class="youtube-content" v-if="getYouTubeIDFromURL(content.content.url)">
            <youtube :video-id="getYouTubeIDFromURL(content.content.url)" ref="youtube"></youtube>
        </div>
    </div>
</template>

<script>
    import getYouTubeID from 'get-youtube-id';
    import VueYoutube from 'vue-youtube'
    import Vue from 'vue'
    Vue.use(VueYoutube)
    export default {
        name: "CourseStage",
        props: {
            content: {
                type: Object,
                required: true
            },
            total: {
                type: Number,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        methods: {
          /**
           * Method for getting Youtube id by link
           * @param youtubeURL - link to video material in Youtube
           * @returns {string} - Youtube id
           */
            getYouTubeIDFromURL (youtubeURL) {
                return getYouTubeID(youtubeURL);
            }
        }
    }
</script>