<template>
  <section class="section-about-course">
    <div class="container">
      <div class="about-course-container">
        <h2 class="about-course-heading">О курсе</h2>
        <div class="about-course-descr">
          <div class="about-course-description">
            <span v-html="about"/>
          </div>
          <div class="materials">
            <div class="materials-block-link">
              <a :href="resourceLink">
                Ссылка на материалы курса
                <div class="img-materials"></div>
              </a>
              <router-link :to="{ path: `${id}/content`}">
                <button class="ll-leokit__button ll-leokit__button__m-color-green ll-leokit__button__m-size-default undefined ">
                  <span class="ll-leokit__button__content">Пройти курс</span>
                </button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "CourseContent",
  props: {
    about: {
      type: String,
      required: true
    },
    resourceLink: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  },
  components: {}
};
</script>

<style scoped>
@import "../../assets/main/css/normalize.css";
@import "../../assets/main/css/CourseContent.css";
</style>
