<template>
  <section class="section-course">
    <div class="container">
      <div class="course-container">
        <h1 class="course-heading">{{name}}</h1>
        <div class="course-descr">
          <div class="course-description">
            <span v-html="shortDescription"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "CourseDescription",
  props: {
    name: {
      type: String,
      required: true
    },
    logo: {
      type: String,
      required: true
    },
    shortDescription: {
      type: String,
      required: true
    },
    authors: {
      type: Array,
      required: true
    }
  },
  components: {}
};
</script>

<style scoped>
@import "../../assets/main/css/normalize.css";
@import "../../assets/main/css/CourseDescription.css";
</style>