<template>
  <div class="block-author">
    <div class="name-author">{{author.name}}</div>
    <div class="photo-author"></div>
  </div>
</template>

<script>
export default {
  name: "CourseAuthor",
  props: {
    author: {
      type: Object,
      required: true
    }
  },
  components: {}
};
</script>

<style scoped>
@import "../../assets/main/css/normalize.css";
@import "../../assets/main/css/CourseAuthor.css";
</style>