<template>
  <section class="section-course">
    <div class="container">
      <div class="content">
        <CourseStage v-bind:content="currentElement"
                     v-bind:total="total"
                     v-bind:index="currentIndex"/>
      </div>
    </div>

    <div class="progress-view">
      <button class="ll-leokit__button ll-leokit__button__m-color-green ll-leokit__button__m-size-default undefined"
              v-on:click="previous">
        <span class="ll-leokit__button__content">Назад</span>
      </button>
        <vue-ellipse-progress
                :data="circles"
                :progress="( this.currentIndex + 1 ) * 100 / total"
                :angle="-90"
                color="var(--blue)"
                :colorFill="colorFillGradient"
                emptyColor="var(--blue)"
                :emptyColorFill="emptyColorFillGradient"
                :size="200"
                :thickness="10"
                emptyThickness="10%"
                lineMode="in 10"
                :legend="true"
                :legendValue="currentIndex+1"
                :legendFormatter="({currentValue}) => new Intl.NumberFormat('de-DE').format(currentValue)"
                legendClass="legend-custom-style"
                dash="60 0.9"
                animation="reverse 700 400"
                :noData="false"
                :loading="false"
                fontColor="var(--darkGrey)"
                :half="false"
                :gap="10"
                fontSize="28px">

        <span slot="legend-value">/{{ total }}</span>
        <p slot="legend-caption" >Выполнено</p>
        <br>
        <p slot="legend-caption">шагов</p>

      </vue-ellipse-progress>
      <button class="ll-leokit__button ll-leokit__button__m-color-green ll-leokit__button__m-size-default undefined"
              v-on:click="next">
        <span class="ll-leokit__button__content" v-if="!(this.currentElement.type === 'final')">Далее</span>
        <router-link :to="{ path: `/`}">
          <span class="ll-leokit__button__content ll-leokit__button ll-leokit__button__m-color-green ll-leokit__button__m-size-default undefined" v-if="this.currentElement.type === 'final'">Завершить</span>
        </router-link>
      </button>
    </div>
  </section>
</template>

<script>
import axios from "axios";
import CourseStage from "./CourseStage";
import Vue from 'vue'


import VueEllipseProgress from 'vue-ellipse-progress';

Vue.use(VueEllipseProgress);

export default {
  name: "Stage",
  components: {
    CourseStage
  },
  data() {
    return {
      content: {},
      total: 0,
      currentElement: {},
      currentIndex: 0
    };
  },
  methods: {
    /**
     * Method for getting course content from backend sources
     * @param id - course id
     */
    getContentById(id) {
      axios
          .get(
              `${process.env.VUE_APP_COURSES_PROVIDER_URL}${process.env.VUE_APP_COURSES_PROVIDER_COURSES_PREFIX}/${id}${process.env.VUE_APP_COURSES_PROVIDER_COURSES_PREFIX_CONTENT}`
          )
          .then(response => {
            this.content = response.data.content;
            this.total = response.data.total
            if (this.content.length) {
              this.currentElement = response.data.content[0];
            }
          })
          .catch(error => {
            console.log(error);
          });
    },
    /**
     * Method for open next course content page
     */
    next() {
      if (this.content.length && this.currentIndex < this.total - 1) {
        this.currentIndex++;
        this.currentElement = this.content[this.currentIndex]
      }
    },
    /**
     * Method for open previous course content page
     */
    previous() {
      if (this.content.length && this.currentIndex) {
        this.currentIndex--;
        this.currentElement = this.content[this.currentIndex]
      }
    }
  },
  created() {
    this.getContentById(this.$route.params.id);
  }
};
</script>
