<template>
  <section class="section-courses" id="courses">
    <div class="container">
      <h2 class="heading">Курсы</h2>
      <TilesList/>
    </div>
  </section>
</template>

<script>
import TilesList from "@/components/courses-page/TilesList";
export default {
name: "CoursesSection",
  components: {TilesList}
}
</script>

<style scoped>
.container {
  /* Блочная модель */
  max-width: 1198px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
</style>