<template>
  <main>
    <section class="section-about-us" id="aboutUs">
      <div class="container">
        <h2 class="heading">О нас</h2>
        <p class="about-us-description">
          Воронежский государственный технический университет получил статус опорного университета Воронежской области,
          объединив образовательный, научный, кадрового и материально-технический потенциалы двух ведущих технических вузов региона –
          Воронежского государственного технического университета  и Воронежского государственного архитектурно-строительного университета.
        </p>
      </div>
    </section>
    <CoursesSection/>
  </main>
</template>

<script>
import CoursesSection from './CoursesSection'
export default {
  name: "PageIndex",
  components: {
    CoursesSection
  }
}
</script>

<style scoped>
.container {
  /* Блочная модель */
  max-width: 1198px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.about-us-description {
  /* Блочная модель */
  max-width: 881px;
  margin: 8px 0 50px 43px;

  /* Типографика */
  font-size: 16px;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  color: var(--gray);
  line-height: 2;
}
</style>