<template>
  <div>
    <ul class="courses-list">
      <!-- TODO add empty list check with info message /-->
      <Tile
          v-for="course of courses"
          v-bind:course="course"
          v-bind:key="course.id"
      />
    </ul>
  </div>
</template>

<script>
import Tile from "@/components/courses-page/Tile";
import axios from "axios";

export default {
  name: "TilesList",
  components: {Tile},
  props: [],
  data() {
    return {
      courses: []
    }
  },
  methods: {
    /**
     * Method for getting courses list from backend sources
     */
    getCourses() {
      axios
          .get(`${process.env.VUE_APP_COURSES_PROVIDER_URL}${process.env.VUE_APP_COURSES_PROVIDER_COURSES_LIST_PREFIX}`)
          .then(response => {
            this.courses = response.data
          })
          .catch(error => {
            console.log(error)
          })
    }
  },

  created() {
    this.getCourses();
  },

  watch: {
    '$route'() {
      this.getCourses();
    }
  }
}
</script>

<style scoped>
.courses-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
}
</style>