<template>
  <li class="courses-item">
    <router-link :to="{ path: `course/${course._id}`}">
      <h3 class="courses-description">{{ course.name }}</h3>
    </router-link>
    <span v-html="course.shortDescription"/>
  </li>
</template>

<script>
export default {
  props: {
    course: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
@import "../../assets/courses-page/css/tile-style.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
</style>
