<template>
  <div id="contacts" class="container-contacts-request">
    <div class="container container-contacts-request-inside">
      <section class="section-contacts">
        <h2 class="heading">Контакты</h2>
        <ul class="contacts-list">
          <li class="contacts-item">
            <h3 class="contacts-heading">Адрес</h3>
            <div class="contacts-info">
              <address class="contacts-address">394026, г. Воронеж, Московский пр-т, 14</address>
            </div>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-heading">Телефоны</h3>
            <div class="contacts-info contacts-tel">
              <a class="contacts-link" href="tel:+74732464067">+7 (473) 246-40-67</a>
              <br>
              <a class="contacts-link" href="tel:+74732437632">+7 (473) 243-76-32</a>
            </div>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-heading">E-mail</h3>
            <div class="contacts-info contacts-mail">
              <a class="contacts-link" href="fitkb@mail.ru">fitkb@mail.ru</a>
              <span class="contacts-mail-desc"> Кафедра ФИТКБ</span>
              <br>
              <a class="contacts-link" href="rectorat@vgasu.vrn.ru">rectorat@vgasu.vrn.ru</a>
              <span class="contacts-mail-desc"> Администрация</span>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contacts",
  components: {}
};
</script>

<style scoped>
@import "../assets/main/css/normalize.css";
@import "../assets/main/css/style.css";
</style>