<template>
  <footer class="footer">
    <div class="container">
      <div class="container-footer">
        <div class="footer-copyrights footer-block">
          <ul class="footer-copyrights-list">
            <li
              class="footer-copyrights-item"
            >ФГБОУ ВО «ВГТУ». Copyright © 2020 При использовании материалов портала активная ссылка на источник обязательна</li>
            <li class="footer-copyrights-item">Учредитель - Российская Федерация.</li>
            <li class="footer-copyrights-item">
              <a
                class="footer-link"
                href="https://cchgeu.ru/sveden/"
              >Сведения об образовательной организации</a>
            </li>
          </ul>
        </div>
        <div class="footer-contacts footer-block">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <address class="footer-contacts-address">1394026, г. Воронеж, Московский пр-т, 14</address>
            </li>
            <li class="footer-contacts-item">
              <div class="footer-info">
                <a class="contacts-link" href="tel:+74732464067">+7 (473) 246-40-67</a>
                <br />
                <a class="contacts-link" href="tel:+74732437632">+7 (473) 243-76-32</a>
              </div>
            </li>
            <li class="footer-contacts-item">
              <div class="footer-info">
                <a class="footer-link" href="fitkb@mail.ru">fitkb@mail.ru</a>
                <br />
                <a class="footer-link" href="rectorat@vgasu.vrn.ru">rectorat@vgasu.vrn.ru</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer-social">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://www.instagram.com/vgtu_official/">
                <span class="footer-social-icon footer-social-icon-inst"></span>
              </a>
            </li>
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://twitter.com/VSTUnews">
                <span class="footer-social-icon footer-social-icon-twitter"></span>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.facebook.com/groups/1149348761878238/"
              >
                <span class="footer-social-icon footer-social-icon-facebook"></span>
              </a>
            </li>
            <li class="footer-social-item">
              <a class="footer-social-link" href="https://vk.com/politexvoronezh">
                <span class="footer-social-icon footer-social-icon-vk"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
@import "../assets/main/css/normalize.css";
@import "../assets/main/css/style.css";
</style>