<template>
  <header class="header">
    <div class="container">
      <div class="header-top">
        <a class="logo" href="#">
          <img class="logo-img" src="../assets/main/img/Header/logo.svg" />
        </a>
        <a class="header-title" href="#">ОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА ВГТУ</a>
        <a class="header-top-personal-area" href="#">Личный кабинет</a>
      </div>
      <div class="header-bottom">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a v-if="$route.path=='/'" class="nav-link" @click="scrollMeTo('aboutUs')">О нас</a>
              <router-link v-else to="/" class="nav-link">О нас</router-link>
            </li>
            <li class="nav-item">
              <a v-if="$route.path=='/'" class="nav-link" @click="scrollMeTo('courses')">Курсы</a>
              <router-link v-else to="/" class="nav-link">Курсы</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="scrollMeTo('contacts')">Контакты</a>
            </li>
          </ul>
          <form
            class="header-form"
            action="https://jsonplaceholder.typicode.com/posts"
            autocomplete="on"
            method="post"
          >
            <input
              class="search header-search"
              type="search"
              name="search"
              id="search"
              placeholder="Поиск"
            />
            <button class="search-magnifier" type="submit" name="search-magnifier"></button>
          </form>
        </nav>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  components: {},
  methods: {
    /**
     * Method for scrolling to element
     * @param refName - element id
     */
    scrollMeTo(refName) {
      const element = document.getElementById(refName);
      const top = element.offsetTop;
      console.log(top);
      window.scrollTo(0, top);
    }
  }
};
</script>

<style scoped>
@import "../assets/main/css/normalize.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "../assets/main/css/style.css";

</style>