/* О курсе */
.about-course-container {
  margin-bottom: 30px;
 }
 
 .about-course-descr {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
 .about-course-description {
   /* Блочная модель */
   max-width: 75%;
   background-color: #fff;
   border-radius: 12px;
   padding: 30px;
 
   /* Типографика */
   font-size: 16px;
   font-family: "Muller", sans-serif;
   font-weight: normal;
   color: var(--gray);
   line-height: 2;
 }
 
 .materials {
   margin-right: 15px;
   margin-top: 20px;
 }
 
 .img-materials {
   /* margin-top: 20px; */
   width: 180px;
   min-height: 180px;
   background: url('../img/Course/folderdownload.png') no-repeat;
   background-size: cover;
   background-position: center center;
 }

.ll-leokit__button__m-color-green {
    background-color: #516fa3;
    border-color: #516fa3;
    color: #fff;
}

.ll-leokit__button, .ll-leokit__button__content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 1.43;
}

.ll-leokit__button {
    height: 40px;
    position: relative;
    font-family: Open Sans,sans-serif;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all .3s ease-out;
    box-shadow: 0 2px 4px rgba(34,41,67,.14);
    box-sizing: border-box;
}