/* Курс */
.section-course {
  margin-bottom: 30px;
}

.course-container {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
}

.course-descr {
  display: flex;
  justify-content: space-between;
}

.course-description {
  /* Блочная модель */
  max-width: 700px;
  margin: 25px;

  /* Типографика */
  font-size: 16px;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  color: var(--gray);
  line-height: 2;
}