/* Авторы */
.section-author {
  margin-bottom: 30px;
}

.container-author {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
}

.block-author {
  margin-right: auto;
  margin-left: auto;
}

.photo-author {
  margin-top: 20px;
  width: 174px;
  min-height: 180px;
  background: url('../img/Course/photo.png') no-repeat;
  background-size: cover;
}