@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face { 
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

:root {
  --darkGrey: #333333;
  --gray: #666666;
  --blue: #516fa3;
  --lightGray: #a0a0a0;
  --lightGrayMore: #a7a7a7;
  --white: #ffffff;
  --whiteGray: #f1f1f1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', sans-serif;
  font-weight: normal;
  background-color: var(--whiteGray);
}

a {
  text-decoration: none;
  color: var(--darkGrey);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  /* Блочная модель */
  margin: 0 0 20px 42px;

  /* Типографика */
  font-size: 40px;
  color: var(--darkGrey);
  font-family: "Muller", sans-serif;
  font-weight: normal;
}

.container {
  /* Блочная модель */
  max-width: 1198px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; 
}

button {
  cursor: pointer;
}


/* Шапка header*/
.header {
  padding-bottom: 65px;
}

/* Верх шапки */
.header-title { /* Телефон */
  /* Блочная модель */
  margin-right: auto;

  /* Типографика */
  font-size: 22px;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  color: var(--gray);
  line-height: 1;
  transition-property: transform, color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.header-title:hover {
  transform: scale(1.1);
  color: var(--blue);
}

.logo {
  margin-right: 26px;
  transition: transform 300ms linear;
}

.logo:hover {
  transform: scale(1.05);
}

.header-top {
  /* Блочная модель */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 112px;
}

.header-top-personal-area {   /* Личный кабинет */
  /* Блочная модель */
  padding-right: 10px;

  /* Типографика */
  font-size: 16px;
  color: var(--blue);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.header-top-personal-area:before {
  content: "\f0a9"; /* добавляем иконку стрелочку */

  /* Блочная модель */
  margin-right: 3px; 

  /* Типографика */
  font-family: FontAwesome;
  color: inherit;
}

.header-top-personal-area:hover {
  transform: scale(1.2);
}

.header-bottom { /* Низ шапки */
  height: 70px; 
}

.nav {
  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  border-radius: 12px;
  /* Оформление */
  background-color: var(--white);
}

.nav-list {
  /* Блочная модель */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 21px;
}

.nav-link {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  font-size: 22px;
  cursor: pointer;
}

.nav-item:not(:last-child) {
  margin-right: 100px;
}

.nav-item:hover .nav-link{
  color: var(--blue);
}


.header-form {
  display: flex;
}

.header-search { /* Кнопка поиска внизу шапки*/
  /* Блочная модель */
  margin-left: 121px;
  margin-right: 0;
  padding-left: 23px;
  padding-right: 0;
  width: 312px; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 48px;
  border: none;

  /* Типографика */
  font-size: 14px;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  line-height: 1;
  
  /* Оформление */
  background-color:var(--whiteGray);
}

.search-magnifier { /* Лупа картинка поиска внизу шапки*/
  /* Блочная модель */
  margin-right: 21px;
  width: 43px;
  min-height: 48px;
  padding: 13px 21px 13px 0px;

  /* Оформление */
  background: url('../img/Header/search.svg') no-repeat  var(--whiteGray);
  background-size: 22px; 
  background-position: left center;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: background-size 200ms ease-out;
}

.search-magnifier:hover {
  background-size: 28px;
}

.courses-text {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-size: 16px;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  color: var(--darkGrey);
  line-height: 2;
}


/* Контакты и Напишите нам */
.container-contacts-request-inside {
  /* Блочная модель */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 22px;
}

/* Контакты */
.contacts-list { /* ul контакты */
  /* Блочная модель */
  margin-top: 21px;
  padding-top: 22px;
  max-width: 472px;
  min-height: 370px;

  /* Оформление */
  border-radius: 12px;
  background-color: var(--white);
}

.contacts-item { /* все li */
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  max-width: 383px;
  margin-left: 45px;
  margin-right: 44px;
  padding-top: 24px;
  padding-bottom: 25px;

  /* Оформление */
  border-bottom: 1px solid #cccccc;
}

.contacts-item:last-child {
  border-bottom: none;
}

.contacts-heading { /* h3 слева в контактах */
  /* Блочная модель */
  width: 38%;
  margin: 0;

  /* Типографика */
  font-size: 22px;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  color: var(--gray);
}

.contacts-info { /* текст с описанием справа */
  /* Блочная модель */
  width: 62%;

  /* Типографика */
  font-size: 16px;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  color: var(--darkGrey);
  line-height: 1.5;
}

.contacts-address {
  font-style: normal;
}

.contacts-link { /* телефоны и email */
  color: var(--blue);  
  /* Оформление */
  transition-property: font-weight;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.contacts-link:hover {
  font-weight: bold;
}

.contacts-schedule { /* p расписание */
  margin-top: 0;
  margin-bottom: 0;
}

.contacts-mail-desc {
  color: var(--lightGrayMore);
}



/* footer */
.footer {
  /* Типографика */
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.container-footer {
  /* Блочная модель */
  display: flex;
  padding: 41px 52px;
  min-height: 338px;
  height: 100%;

  /* Оформление */
  border-radius: 12px;
  background: no-repeat var(--darkGrey) 81% 100%;
}
.footer-block {
  margin-right: auto;
}

.footer-copyrights { /* Копирайт */
  width: 30%;
}

.footer-copyrights-list {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.footer-contacts { /* Контакты */
  width: 48%;
}

.footer-contacts-list {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 71%;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-info {   /* Ссылки */
  line-height: 24px;
}

.footer-link {
  color: var(--blue);  
  
  /* Оформление */
  transition-property: font-weight, font-size;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.footer-link:hover {
  font-weight: bold;
  font-size: 18px;
}

.footer-social-list { /* Иконки */
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.footer-social-icon {
  /* Блочная модель */
  display: inline-block;
  width: 24px;
  height: 24px;

  /* Оформление */
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  transition-property: background-image, transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.footer-social-item {
  margin-bottom: 9px;
}

/* .footer-social-icon-inst {
  background-image: url('../img/Footer/icons/inst.svg');
}

.footer-social-icon-inst:hover {
  background-image: url('/img/Footer/icons/inst2.svg');
  transform: scale(1.3) rotate(360deg);
} */

.footer-social-icon-twitter {
  background-image: url('../img/Footer/icons/twitter.svg');
}

.footer-social-icon-twitter:hover {
  background-image: url('../img/Footer/icons/twitter2.svg');
  transform: scale(1.3) rotate(360deg);
}

.footer-social-icon-facebook {
  background-image: url('../img/Footer/icons/facebook.svg');
}

.footer-social-icon-facebook:hover {
  background-image: url('../img/Footer/icons/facebook2.svg');
  transform: scale(1.3) rotate(360deg);
}

.footer-social-icon-vk {
  background-image: url('../img/Footer/icons/social.svg');
}

.footer-social-icon-vk:hover {
  background-image: url('../img/Footer/icons/social2.svg');
  transform: scale(1.3) rotate(360deg);
}

.youtube-content{
  align-content: center;
  child-align: middle;
}

.progress-view{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}