<template>
  <div id="app">
    <Header />
    <router-view></router-view>
    <Contacts />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";
import Contacts from "./components/Contacts";

export default {
  name: "App",
  components: {
    Header,
    Contacts,
    Footer
  }
};
</script>

<style scoped>
@import "./assets/main/css/normalize.css";
@import "./assets/main/css/style.css";
</style>