:root {
    --white: #ffffff;
    --blue: #516fa3;
}
.courses-item {
    /* Блочная модель */
    margin-bottom: 24px;
    max-width: 572px;
    width: 100%;
    min-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 190px 105px 33px 45px;
    flex: 1 1 50%;
    /* Оформление */
    border-radius: 12px;
    background: var(--white);
    background-size: contain;
    background-repeat: no-repeat;
}
.courses-item:nth-child(2n+1) {
    margin-right: auto;
}
.courses-description { /* Заголовок h3 */
    /* Блочная модель */
    margin: 0 0 5px;
    /* Типографика */
    font-size: 22px;
    font-family: "Muller", sans-serif;
    font-weight: 500;
    color: var(--blue);
    /* Оформление */
    transition-property: font-weight, transform;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.courses-description:hover  {
    font-weight: 900;
    transform: scale(1.04);
}

.courses-description:after {
    content: "\f105"; /* добавляем иконку стрелочку */
    /* Блочная модель */
    display: inline-block;
    margin-left: 10px;
    transform: translateY(4px);

    /* Типографика */
    font-family: FontAwesome;
    color: inherit;
    font-size: 30px;
    font-weight: normal;
}